@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
  }
  @media screen and (max-width: 992px) {
    body {
      font-size: 16px;
    }
  }
  
  a {
    color: #7ac143;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #7ac143;
    outline: none;
  }
  
  p {
    margin-bottom: 1.5em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Merriweather", Times, serif;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  
  
  #fh5co-page {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  #fh5co-aside {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 15%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background: #e6e6e6;
    z-index: 1001;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #fh5co-aside.border {
    border-right: 1px solid #e6e6e6;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-aside {
      width: 30%;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-aside {
      width: 270px;
      -moz-transform: translateX(-270px);
      -webkit-transform: translateX(-270px);
      -ms-transform: translateX(-270px);
      -o-transform: translateX(-270px);
      transform: translateX(-270px);
    }
  }
  #fh5co-aside #fh5co-logo {
    text-align: center;
  }
  #fh5co-aside #fh5co-main-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    #fh5co-aside #fh5co-main-menu ul {
      margin: 0 0 2em 0;
    }
  }
  #fh5co-aside #fh5co-main-menu ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
  }
  #fh5co-aside #fh5co-main-menu ul li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 10px 10px;
    letter-spacing: .2em;
    font-family: "Merriweather", Times, serif;
  }
  #fh5co-aside #fh5co-main-menu ul li a:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 7px;
    left: 10px;
    right: 10px;
    background-color: #7ac143;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #fh5co-aside #fh5co-main-menu ul li a:hover {
    text-decoration: none;
    color: black;
  }
  #fh5co-aside #fh5co-main-menu ul li a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
  #fh5co-aside #fh5co-main-menu ul li.fh5co-active a {
    color: black;
  }
  #fh5co-aside #fh5co-main-menu ul li.fh5co-active a:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
  #fh5co-aside .fh5co-footer {
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }
  @media screen and (max-width: 768px) {
    #fh5co-aside .fh5co-footer {
      position: relative;
      bottom: 0;
    }
  }
  #fh5co-aside .fh5co-footer span {
    display: block;
  }
  #fh5co-aside .fh5co-footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #fh5co-aside .fh5co-footer ul li {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
  }
  #fh5co-aside .fh5co-footer ul li a {
    color: rgba(0, 0, 0, 0.7);
    padding: 4px;
  }
  #fh5co-aside .fh5co-footer ul li a:hover, #fh5co-aside .fh5co-footer ul li a:active, #fh5co-aside .fh5co-footer ul li a:focus {
    text-decoration: none;
    outline: none;
    color: #7ac143;
  }
  
  #fh5co-main {
    width: 85%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-main {
      width: 70%;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-main {
      width: 100%;
    }
  }
  #fh5co-main .fh5co-narrow-content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 4em 0;
  }
  @media screen and (max-width: 768px) {
    #fh5co-main .fh5co-narrow-content {
      width: 100%;
      padding: 3.5em 1em;
    }
  }
  
  .fh5co-gallery {
    position: relative;
    margin-bottom: 7em;
    float: left;
    width: 100%;
  }
  .fh5co-gallery .gallery-item {
    width: 25%;
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    z-index: 110;
  }
  .fh5co-gallery .gallery-item img {
    position: relative;
    max-width: 100%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
  }
  @media screen and (max-width: 1200px) {
    .fh5co-gallery .gallery-item {
      width: 33.3333%;
    }
  }
  @media screen and (max-width: 768px) {
    .fh5co-gallery .gallery-item {
      width: 50%;
    }
  }
  @media screen and (max-width: 480px) {
    .fh5co-gallery .gallery-item {
      width: 100%;
    }
  }
  .fh5co-gallery .gallery-item .overlay {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 11;
    vertical-align: middle;
    padding-top: 30%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .fh5co-gallery .gallery-item .overlay h2, .fh5co-gallery .gallery-item .overlay span {
    position: relative;
    z-index: 12;
    margin-bottom: 0;
    text-align: center;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .fh5co-gallery .gallery-item .overlay h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
    bottom: -15px;
  }
  @media screen and (max-width: 768px) {
    .fh5co-gallery .gallery-item .overlay h2 {
      font-size: 18px;
    }
  }
  .fh5co-gallery .gallery-item .overlay span {
    color: #7ac143;
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    bottom: -5px;
    visibility: hidden;
    opacity: 0;
  }
  .fh5co-gallery .gallery-item .overlay:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .fh5co-gallery .gallery-item:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .fh5co-gallery .gallery-item:hover .overlay {
    visibility: visible;
    opacity: 1;
  }
  .fh5co-gallery .gallery-item:hover .overlay:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .fh5co-gallery .gallery-item:hover .overlay h2 {
    bottom: 0px;
  }
  .fh5co-gallery .gallery-item:hover .overlay span {
    visibility: visible;
    opacity: 1;
    bottom: 0px;
  }

  body, #teste, .fh5co-gallery .gallery-item {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .fh5co-gallery img {
    max-width: 100%;
    height: auto;
  }
  
  .fh5co-gallery .gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
    margin: 10px;
  }
  
  /* Adaptação para telas menores */
  @media screen and (max-width: 600px) {
    .fh5co-gallery .gallery-item {
      min-height: 150px;
    }
  }
  
  
  
  